/storage
/.idea
Crawler/__pycache__/Link.cpython-37.pyc
chenCrawlResults
chenCrawlResultsIMG
chenCrawlResultsLinks
crCrawlResultsIMG
crCrawlResultsLinks
gbCrawlResultsIMG.txt
gbCrawlResultsLinks.txt
gbimagesFiltered
gbTables
run1
Crawler/__pycache__/Image.cpython-37.pyc
Crawler/__pycache__/Page.cpython-37.pyc
Crawler/__pycache__/Table.cpython-37.pyc
Crawler/__pycache__/TableFinder.cpython-37.pyc
Models/Complete/__pycache__/Image.cpython-37.pyc
Models/Complete/__pycache__/Link.cpython-37.pyc
Models/Complete/__pycache__/Table.cpython-37.pyc
Models/Queue/__pycache__/Table.cpython-37.pyc
gbrun
gbrun1
Models/Complete/__pycache__/Image.cpython-37.pyc
Crawler/__pycache__/Page.cpython-37.pyc
Crawler/__pycache__/Image.cpython-37.pyc
gbBannerImages.txt
gbBannerImages1.txt
gbDevBannerImages.txt
Crawler/__pycache__/Image.cpython-37.pyc
Crawler/__pycache__/Form.cpython-37.pyc
Crawler/__pycache__/FormFinder.cpython-37.pyc
Crawler/__pycache__/ImgFinder.cpython-37.pyc
Crawler/__pycache__/Page.cpython-37.pyc
Crawler/__pycache__/Tag.cpython-37.pyc
Crawler/__pycache__/TagFinder.cpython-37.pyc
Models/Complete/__pycache__/Image.cpython-37.pyc
Models/Complete/__pycache__/Form.cpython-37.pyc
Models/Complete/__pycache__/Image.cpython-37.pyc
Models/Queue/__pycache__/Tag.cpython-37.pyc
Models/Queue/__pycache__/Form.cpython-37.pyc
__pycache__/UrlFinder.cpython-37.pyc
gbBannerImages.csv
gbImagesFiltered.txt
GBLinks
runWithHTML
gbImagesFiltered.txt
GBLinks
auth.json
ch-enlinks.json
crlinks.json
gbLinks.json
deLinksCrawlSitemap.csv
itLinksCrawlSitemap.csv
esLinksCrawlSitemap.csv
itLinksCrawlSitemap.txt
